<ion-view title="{{articleDetail.viewTitle || 'Detail'}}">

  <ion-nav-bar class="bar-dark">

    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>


  </ion-nav-bar>


  <ion-content>
    <div class="list card">
      <div class="item" ng-class="articleDetail.pathToUserImg !== false?'item-avatar':''">
        <img ng-if="articleDetail.pathToUserImg" ng-src="{{articleDetail.pathToUserImg}}">

        <h2>{{articleDetail.title}}</h2>

        <p>Created on {{articleDetail.created * 1000 | date }}</p>
      </div>

      <div class="item item-body">
        <img ng-if="articleDetail.pathToImg" class="full-image" ng-src="{{articleDetail.pathToImg}}">

        <p>
          {{articleDetail.body.und[0].value}}
        </p>
        <p>
          <a ng-click="articleDetail.loadComments(articleDetail.nid)">
            load Comments <ion-spinner ng-if="articleDetail.loadingComments"  class="spinner-small" ></ion-spinner></a>
        </p>
      </div>

      <label class="item item-input">
          <input type="text" placeholder="Subject"
                    ng-model="articleDetail.newCommentData.subject" />
      </label>

      <label class="item item-input">
          <textarea rows="6" placeholder="Body" type="text"
                    ng-model="articleDetail.newCommentData.comment_body_value"></textarea>
      </label>

      <div class="item">
        <button class="button button-clean" ng-click="articleDetail.createComment()">Reply</button>
      </div>

      <div ng-repeat="comment in articleDetail.comments" class="card">
        <div class="item item-divider">
          {{comment.subject}}
        </div>
        <div class="item item-text-wrap">
          {{comment.comment_body.und[0].value}}
        </div>
        <div class="item">
          Rating: {{comment.field_rating}}
        </div>
        <div class="row">
          <div class="col-25">
            {{comment.field_comment_photos}}
          </div>
        </div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>


    </div>


  </ion-content>

</ion-view>
