<ion-view title="My Account" id="profile-view">

  <ion-content class="ionic" on-scroll="true" has-bouncing="false">
    <div id="profile-wrapper" class="text-center">
      <div class="content">

        <div id="profile-image">
          <ion-spinner class="overlay-spinner spinner-positive " ng-if="profile.isLoading"></ion-spinner>
          <div ng-if="!profile.isLoading" class="avatar"
               style="background-image:url( {{ profile.pictureUrl || 'assets/images/default-avatar.png' }} )"/>
        </div>
      </div>
      <h3 class="light">{{profile.name}}</h3>
      <p class="light">{{profile.field_slbiz_user_nickname}}</p>
      <p class="light">{{profile.field_slbiz_user_phone}}</p>
      <p class="light">{{profile.field_slbiz_user_location}}</p>
    </div>
    </div>
    <br/>
    <br/>
    <br/>
    <button class="button button-positive padding-vertical button-center" ui-sref="app.articleFeed">Find a business
    </button>
  </ion-content>

</ion-view>
